@import "../../app.scss";

.root-home {
  background-color: white;
  padding: 0;
  margin: 0;
}

.home-intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 700px;
  width: 100%;

  @media only screen and (max-width: $sm) {
    height: 480px;
  }
  div {
    position: relative;
    top: 35%;
    left: 10%;
    width: 40vw;
  }
  h1 {
    color: rgb(186, 186, 40);
    text-transform: uppercase;
    font-size: 3em;
    @media only screen and (max-width: $sm) {
      font-size: 2em;
    }
  }
}
.home-welcome {
  display: flex;
  padding: 24px;
  @media only screen and (max-width: $md) {
    flex-direction: column;
    padding: 24px 0 0 0;
  }

  .welcome-para {
    padding: 50px 25px 50px 50px;
    align-items: center;
    align-self: center;
    height: auto;
    flex: 1 1 50%;
    h2 {
      text-align: left;
      margin-bottom: 16px;
      font-size: 2em;
      font-weight: 700;
    }
    p {
      text-indent: 50px;
      line-height: 1.5em;
      font-size: 1.2em;
    }
  }
  .welcome-img {
    height: auto;
    flex: 1 1 50%;

    @media only screen and (min-width: $sm) {
      height: 480px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.home-logos {
  background-color: yellow;
  height: 180px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 4em;
  }
}

.home-specialization {
  display: flex;
  padding: 0;
  margin: 0;

  @media only screen and (max-width: $md) {
    flex-direction: column;
  }
  .specialization-items {
    padding: 50px 25px 50px 50px;
    align-items: center;
    align-self: center;
    height: auto;
    flex: 1 1 50%;

    p {
      padding: 16px 0;
    }
    img {
      width: 60px;
      height: 60px;
    }
  }
  .specialization-img {
    height: auto;
    flex: 2 1 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.home-projects {
  padding: 0;
  margin: 0;
  .projects-para {
    padding: 2em 4em 1em 3em;
    h2 {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 1em;
    }
    button {
      width: auto;
      padding: 0.5em 1em;
      font-size: 1.35em;
      font-weight: 600;
      background-color: yellow;
      border: none;
    }
    button:hover {
      cursor: pointer;
      opacity: 0.9;
      transform: scale(1.1);
    }
  }
  .projects-img {
    padding: 0;
    margin: 0;
    height: 100vh;
    @media only screen and (max-width: $md) {
      height: 50vh;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
