$sm: 600px;
$xs: 480px;
$md: 800px;
$lg: 960px;
$bg-color1: #181e2a;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.app {
  padding: 0;
  margin: 0;
}

button {
  width: auto;
  padding: 0.5em 1em;
  font-size: 1.35em;
  font-weight: 600;
  background-color: #e4e7ea;
  border: none;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
}
h2 {
  font-size: 2.25rem;
  font-weight: 800;
}
h3 {
  font-size: 1.75rem;
  font-weight: 700;
}
